/* quiz.css */

body{ color:#000; }
#page{ width:960px; margin: 40px auto auto 40px; }
.pset{ margin:20px auto auto 20px; padding:20px; border: #CCC 1px solid; }
.pset .q , 
.pset .a{ display:block; margin-bottom:1em; }
.pset .a code{ margin-left:1em; margin-right:0.5em; }