a, a:active, a:visited {
  color: #027ac6;
}

/* top panel */
#top-panel-head {
  background: #313332 url(../images/header/header_bg.png) repeat-x top;
}

#go-home {
  background: url(../images/header/gohome.png) no-repeat 6px 6px;
}

/* top navigation */
#navigation {
  background: url(../images/header/navigation_bg.png) repeat-x bottom;
  background-color: #b2c8d3;
}

#navigation #current-32 {
  background: url(../images/tabs/tableft_big.png) no-repeat left top;
}

#navigation #current-32 a {
  background: url(../images/tabs/tabright_big.png) no-repeat right top;
}

#navigation #current-24, #navigation #current-16 {
  background: url(../images/tabs/tableft.png) no-repeat left top;
}

#navigation #current-24 a, #navigation #current-16 a {
  background: url(../images/tabs/tabright.png) no-repeat right top;
}

#navigation #current {
  background: url(../images/tabs/tableft_small.png) no-repeat left top;
}

#navigation #current a {
  background: url(../images/tabs/tabright_small.png) no-repeat right top;
}

.t {background: #f4f7f8 url(../images/layout/t.gif) 0 0 repeat-x;}
.b {background: url(../images/layout/b.gif) 0 100% repeat-x}
.l {background: url(../images/layout/l.gif) 0 0 repeat-y}
.r {background: url(../images/layout/r.gif) 100% 0 repeat-y}
.bl {background: url(../images/layout/bl.gif) 0 100% no-repeat}
.br {background: url(../images/layout/br.gif) 100% 100% no-repeat}
.tl {background: url(../images/layout/tl.gif) 0 0 no-repeat}
.tr {background: url(../images/layout/tr.gif) 100% 0 no-repeat; padding: 10px}

.content-in {
  background: url(../images/layout/content_bg.gif);
}

/* tabs in content */
#tabs-primary {
  background: url(../images/tabs/bg.gif) repeat-x bottom;
  min-height: 1px;
}

#tabs-primary ul.primary li.active {
  background: url(../images/tabs/left.gif) no-repeat left top;
}

#tabs-primary ul.primary li.active a {
  background: url(../images/tabs/right.gif) no-repeat right top;
}

#tabs-secondary {
  background: url(../images/tabs/bg_2.gif) repeat-x bottom;
  min-height: 1px;
}

#tabs-secondary ul li.active {
  background: url(../images/tabs/left_2.gif) no-repeat left top;
}

#tabs-secondary ul li.active a {
  background: url(../images/tabs/right_2.gif) no-repeat right top;
}

.level-1 {
  border-bottom: 1px solid #d2dada;
  border-right: 1px solid #d2dada;
  border-left: 1px solid #d2dada;
  border-top: 0;
  background: #f2f2f2;
}

.level-2 {
  border-bottom: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  border-top: 0;
  background: #fff;
}

#content-menu a {
  color: #027ac6;
}

#content-menu a:hover {
  background-color: #e3ebef;
}

#content-menu a.active {
  background-color: #fff;
  border-top: 1px solid #e3ebef;
  border-bottom: 1px solid #e3ebef;
}

#panel {
  color: #999;
}

.panel-opacity {
}

#toggle {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 160px;
  background: url(../images/panel/panel_gfx.png) no-repeat;
}

#toggle a {
  display: block;
  text-decoration: none;
  font-weight: normal;
  color: #000;
  height: 24px;
}

#toggle a {
  color: #fff;
  padding: 4px 11px 0px 6px;
}

#toggle a .panel-open {
  background: url(../images/panel/panel_open.png) no-repeat left top;
  padding-left: 20px;
}

#toggle a .panel-close {
  background: url(../images/panel/panel_close.png) no-repeat left top;
  padding-left: 20px;
}
