/* $Id: styles.css,v 1.1.2.2.2.1 2011/01/11 01:08:49 dvessel Exp $ */

/* Maint mode: */
body.maintenance-page{ background-color:#36F;  text-align:center;
  font-family: Verdana,Arial,Helvetica,sans-serif;}
body.maintenance-page div#page-wrapper.rnd,
body.maintenance-page div#page.rnd
{
  border:#CCC 1px solid;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; 
  -khtml-border-radius: 10px; 
}
body.maintenance-page div#page-wrapper{ 
  background-color: #EEE;
  width:960px;
  margin: auto;
  margin-top:40px;
  padding-bottom:80px;
  /* min-height:740px; */
 }
body.maintenance-page div#page{
  background-color:#FFF;
  margin:80px;
  padding:60px;

}
body.maintenance-page div#header{ }
body.maintenance-page #site-name a {
  display:block;
  background:transparent url('/ext/img/D-logo-combo-60-pt3.png') top left no-repeat;
  width:237px;
  height:49px;
  z-index:6;
}
body.maintenance-page #site-name a span{ display:none; }
body.maintenance-page  h1.title{
    margin-top:12px;
    font-style:italic;
}
body.maintenance-page .contact{ border-top:#DFDFDF 1px solid; margin-top:24px; padding-top:12px;}
body.maintenance-page .contact span{}
body.maintenance-page .contact img{ margin-top:8px;}

/* Normal ops: */

h1#site-name {
  margin-bottom: 0;
}

#site-header,
#site-subheader,
#footer-region,
.column,
.node,
.comment,
.block {
  margin-bottom: 8px; /* orig: 1.5em; */
}

#block-user-login{ border:#CCC 1px solid; padding:12px; }
#block-user-login h2{ font-size:14px; font-weight:bold; margin-bottom:2px;  }
#block-user-login label{ font-weight:normal; }
#block-user-login #edit-submit{
  display:inline-block;
  height:27px; 
  width:64px; 
  cursor:pointer; 
  color:#000; 
  background-color:#9CF; 
  border:#AAA 1px solid;
  margin:1px 25px auto auto; 
  padding-bottom:4px;
}
div.item-list{ display:none; } /* Later. */

ul.main-menu,
ul.secondary-menu {
  display: block;
  margin: 0;
  padding: 0;
  font-family: Verdana,Arial,Helvetica,sans-serif;
}

/* -------------------------------------------- */
/* Modifys preexisting ninesixty styles.        */
html{ border-bottom:0; padding-bottom:0;}
body{
  font-family: Verdana,Arial,Helvetica,sans-serif; 
  background-color:#FFF; /* #F5F5F5; */
  border:#0700F8 4px solid;
  border-left:none;
  border-right:none;
  padding-bottom:0;  
}
.clear{ clear:both; height:0; widht:0; font:0/0; }
.warn{ color: #F00; }
a.closex{  float:right; display:block; height:24px; width:24px;  z-index:4; outline:none; background:url(/sites/default/img/x_icon_24.png) no-repeat; cursor:pointer;text-indent: -9999px;}
#page{
  min-height:1200px;
  background-color: #F5F5F5;
  border: #CCC 1px solid;
  border-bottom:none;
  border-top:none;
  margin:0 auto;
  padding:0;
}

#page tbody{ border-color:transparent; } /* override parent */
#page li.comment-add,
#page li.comment_forbidden { display:none; } /* Later if at all. */  


#not-opt{ margin:0; padding:0; background-color:#FFF;} 
#not-opt noscript{ margin:0; padding:0; }
#not-opt noscript div.out{ margin:0; padding:22px 44px; background-color:#FFF; }
#not-opt noscript div.in{ display:block;  text-align:center; margin: 22px 112px;  padding: 8px 12px; color:#000; font-weight:bold; background-color:#FD0; border:#F90 2px solid; }
#not-opt div span,
#not-opt noscript span{ position:relative; display:inline-block; padding:2px;  }
#not-opt div span a.closex{ }
#site-header{ background-color:#FFF; }
#site-header a{ color:#333; text-decoration:none; font-family: Verdana,Arial,Helvetica,sans-serif; }
#site-header a:hover{ color:#333; text-decoration:none; }

#main{ }
#branding{ float:left; width: 280px; height:84px; margin-bottom:12px; }
#branding #logo{ float:left; }
#branding #logo a{ outline:none; }
#branding #logo a h1{height:1px; width:1px; font-size:1px; font-weight:normal; text-indent:-9999px; }
#branding #logo a img{ float:left; border:none;}
#branding #site-slogan{
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin:0 auto 12px 60px; 
    width: 150px;
    color:#666;
}

/* --- HTTP error states --- */
body.page-customerror-{}
body.page-customerror-.page-customerror-404{}
#http-user-err{ background-color:#FFF; border:#CCC 1px solid; padding:4px 0 0 0; }
#http-user-err span{ display:inline-block; padding-left:1em; }
#http-user-err.http403 div.img,
#http-user-err.http404 div.img{ width:400px; height:320px; background: transparent url('/ext/img/error/puzzled_dog_400.jpg') bottom left no-repeat; }

/* --- User login state --- */

#site-header #welcome-user{ float:left; display:inline; width:130px; margin:13px auto auto auto;}
#site-header #welcome-user span.txt{}

#acct_menu{ /* clone #site-menu */
  float:right; 
  margin:0 0 auto auto; 
}
ul#secondary-menu{ 
  float:right; height:24px; background-color: transparent; }
ul#secondary-menu li{ float:right; height:22px margin:0 0 auto auto; padding:0; }
ul#secondary-menu li a{
height:22px;
font-size: 10px;
line-height: 18px;
background-color: #DBDBDB;
padding: 0.5em 1.6em;
border-left:#999 1px solid;
border-bottom:#999 1px solid;
}
ul#secondary-menu li a:hover{ text-decoration:underline; }


/* --- Site search --- */
#search-box{ float:left; margin: 10px auto auto auto; padding:0; font-family: Verdana,Arial,Helvetica,sans-serif;}
#search-block-form{ height:24px; border:#CCC 1px solid; padding:0; padding-left:22px;
  background: transparent url('/sites/default/img/search_16.png') 4px 4px no-repeat; }
#search-block-form input.form-text{ border:none; margin:3px 0 0 0; }  
#search-block-form #edit-submit{ margin:0 0 0 auto; width:52px; height:24px; color:#333;
   font-family: Verdana,Arial,Helvetica,sans-serif;
   font-size:11px; line-height:1.1em; border:none; border-left:#CCC 1px solid; outline:none; }
/* --- Top nav menu --- */

#site-menu{
  width: 960px; 
  height:28px;  
  margin: 1px auto 1px auto;
  background-color:transparent;  
}
ul#main-menu{
float:none;
width:960px;
height:28px;
text-align:center;
width:auto;
margin 0 auto;
padding:0; 
background-color:transparent;
color: #333;
border-bottom:#999 1px solid;
font-family: Verdana,Arial,Helvetica,sans-serif;
list-style:none;
z-index:6; 
}

ul#main-menu li,
ul#main-menu li.active{
 display: inline; 
 float:left; 
 padding-right:0; padding-left:0; 
 margin:3px 0 0 0;
}
ul#main-menu li.first{ margin-left:80px; }
ul#main-menu li.active{ background-color:#F5F5F5;  border-bottom:#F5F5F5 1px solid;  }
ul#main-menu li a,
ul#main-menu li a.active{
display:inline-block; /* was default */
height:20px;
line-height:20px;
padding: 0.2em 1.6em;
background-color: #DBDBDB;
font-size:10px;
color: #333;
text-decoration: none;
border-right:#999 1px solid;
margin-left:0; 
margin-right:0;
}
ul#main-menu li a{ color:#333; background-color: #DBDBDB; border:#999 1px solid; border-left:none; }
ul#main-menu li.first a{ border-left:#999 1px solid; }
ul#main-menu li a.active{ color:#000; 
background-color:#F5F5F5;
border-bottom:none;  }

#site-subheader{ } 

#sidebar-right{   }

/* --- Breadcrumbs --- */
.breadcrumb a{ color:#000; text-decoration:none;}
.breadcrumb a:hover{color:#000; text-decoration:underline;}

/* --- Main content --- */
#main-content{ min-height:800px; } 
/* --- Articles --- */
.node-article{}   
.node-article h2{ margin-bottom:1px; }
.node-article h2 a, 
.node-article h2 a:link,
.node-article h2 a:visited { font-size:18px; color:#000; text-decoration:none; cursor:pointer; outline:none; margin-bottom:1px;}
.node-article h2 a:hover{ color:#00F; }
.node-article img{}
.node-article img.left{ float:left; margin-right:1px; padding-right:4px; padding-bottom:4px; border:none; outline:none; }
.submitted{ color:#666; font-size:10px; margin-bottom:6px; }
.submitted a,
.submitted a:link,
.submitted a:visited{ color:#666; text-decoration:none; cursor:pointer;line-height:11px;  } 
.submitted a:hover{ color:#00F; }
li.node-readmore{}
li.node-readmore a,
li.node-readmore a:link,
li.node-readmore a:visited{  color:#000; text-decoration:none; cursor:pointer;  }
li.node-readmore a:hover{ color:#00F; text-decoration:underline;}
.field-name-field-tags{ display:none;} /* hide tags for now */
a.feed-icon{ display:none;} /* hide rss icon for now */
li.node-readmore{}

/* --- All modules --- */
.medmod{ border-top:1px dotted #AAA;  padding-top:8px; margin-bottom:8px; /* override 960 .block */}
.medmod.first{  }
.medmod.last{ border-bottom:1px solid #AAA; }
.medmod.ad_square{ text-align:center; }
.widemod{ background-color:green;}

.mod{
  background-color:#FFF;
}
.mod.rnd
{
  border:#CCC 1px solid;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; 
  -khtml-border-radius: 10px; 
}


.mod .hd, 
.mod .ft{
  color:#FFF; 
  background-color:#999;
  margin:0; 
  padding:4px;
}

/* --- Simple contact block --- */
.contact{ text-align:center; padding-top:40px; padding-bottom:52px; }
.contact img{ margin-top:18px; }


/* --- Weather module --- */
#weather-mod{ background-color:#FFF; font-family: Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; }
#weather-mod a{ text-decoration:none;}
#weather-mod a:hover{ text-decoration:underline;}
#weather-mod  table{ border-collapse:collapse; border-spacing:0; border-color:transparent; color:#000; text-align:center; margin:4px auto 12px auto; }
#weather-mod ul{ margin-bottom:1px; } /* override parent */
#weather-mod ul li{ list-style-type:none; }
#weather-mod .hd,
#weather-mod .ft{ color:#FFF; background-color:#999; border:#AAA 1px solid; margin:0; padding:4px;} 
#weather-mod .hd{ height:30px; }
#weather-mod .hd h2{ font-size:14px; margin:4px auto auto 4px; }
#weather-mod .bd{ background-color:#FFF;  border: #CCC 1px solid; margin:0; padding:0; }
#weather-mod .bd .sec{ padding:4px 8px 8px; /* border-top:#EEE 1px solid; */}
#weather-mod .bd .sec h3{  font-size:128%; }
#weather-mod .bd .sec tbody{ text-align:left; }
#weather-mod .bd .sec.loc{ font-size:128%; font-weight:normal;  padding-bottom:0; }
#weather-mod .bd .sec.loc span.zip{ color:#777; margin-left:6px;  }
#weather-mod .bd .sec.current{ border-top: none; padding-top:0; padding-bottom:0; }
#weather-mod .bd .sec.current .chd{ display:block; height:58px; width:220px; margin:auto; margin-top:8px; text-align:left;}
#weather-mod  .bd .sec.current  img.wu_icon{ float:left;height:50px; width:50px; margin-right: 8px;  }
#weather-mod  .bd .sec.current .chd .curr_wstr{  display:block; font-size:136%; font-weight:bold; padding-top:18px; }
#weather-mod  .bd .sec.current table td{ padding-top:2px;  }
#weather-mod  .bd .sec.current table td a{ display:block; border:none; outline:none; background-color:transparent;}
#weather-mod  .bd .sec.current table td a:hover{ background-color:#EEE;}
#weather-mod  .bd .sec.current table td.ti{ width:96px; }
#weather-mod  .bd .sec.current table td.val{ width:106px; }
#weather-mod  .bd .sec.astro{ margin:0; padding:8px 4px; border-top:#EEE 1px solid; border-bottom:#EEE 1px solid;}
#weather-mod  .bd .sec.astro span{ margin: 0.5em auto auto 0.5em; }
#weather-mod  .bd .sec.astro .sun{padding-left:32px; min-height:32px; min-width:32px; background: transparent url('/sites/default/img/sunrise_32.png') bottom left no-repeat;} 
#weather-mod  .bd .sec.astro .sun span.sunrise{ margin-right: 1em;}
#weather-mod  .bd .sec.astro .moon{ 
  padding-left:24px; 
  min-height:24px; 
  min-width:24px; 
  background-color: transparent;
  background-image: url('/sites/default/img/moonphase_24e_sprite.png');
  background-repeat: no-repeat; 
  margin-left:4px;
}
#weather-mod  .bd .sec.astro .moon span{ display:inline-block; vertical-align:text-top; margin-left: 11px; margin-top:-4px; padding-top:5px; }
#weather-mod .bd .sec.forecast h3{ color:#666; font-weight:normal; margin-bottom:2px;}
#weather-mod .bd .sec.forecast .as_of_time{ color:#666; font-size:83%; }

#weather-mod #flist{ text-align:center; margin:0; padding:0;  }
#weather-mod #flist .day{ position:relative; text-align:left; margin:0; padding:0; }
#weather-mod #flist .day .simplef{ position:relative; width:230px; height:28px; cursor:pointer; border-top:#CCC 1px dotted; margin-left:12px; padding:0;}
#weather-mod #flist .day.first .simplef{border-top:none;   }
#weather-mod #flist .day .simplef:hover{  background-color:#CFF; }
#weather-mod #flist .day .simplef div,
#weather-mod #flist .day .simplef div,
#weather-mod #flist .day .simplef span{ float:left; display:inline-block;  text-align:left; vertical-align:middle; 
  line-height:0.9em; margin-top:8px;  }
#weather-mod #flist .day .simplef .wd{ display:inline-block;  text-align:left; width:80px; margin-left:38px; }
#weather-mod #flist .day .simplef .wd span{}
#weather-mod #flist .day .simplef .conds{display:inline-block; width:42px; }
#weather-mod #flist .day .simplef .conds img.wu_icon{ vertical-align:middle; padding:1px; margin-top: -6px; }
#weather-mod #flist .day .simplef .temps{ display:inline-block; text-align:left; padding-right:8px; margin-top:0; }
#weather-mod #flist .day .simplef .temps .sep,
#weather-mod #flist .day .simplef .temps .lo{ color:#666; }
#weather-mod #flist .day .simplef .temps .sep{ width:0.9em; text-align:center; }
#weather-mod #flist .day  .bn{ position:absolute; top: -94px; right:242px; text-align:left; z-index:20; }
  #weather-mod #flist .day  .bn .top{  
  width:319px; height:149px; background:transparent url('/ext/img/wx/bn/wx_bn_top_rtc.png') top left no-repeat;
  }
#weather-mod #flist .day  .bn .top .wkday{ display:inline-block; color:#FFF; font-size:14px; font-weight:bold; 
  margin: 16px auto auto 16px; padding:1px; }
#weather-mod #flist .day  .bn .mid{ width:261px; border:#00F 4px solid; border-top:none; border-bottom:none; 
  font-size:11px; margin:0; padding:0; margin-left:4px; margin-top: -105px;
}
#weather-mod #flist .day  .bn .mid .dntop{ margin-top:4px;  }
#weather-mod #flist .day  .bn .mid .dntop img{ vertical-align:middle; margin:auto 8px; }
#weather-mod #flist .day  .bn .mid .dntop .dn{ vertical-align:middle; color:#666; font-size:12px; text-transform:uppercase;} 
#weather-mod #flist .day  .bn .mid  .half{ width:auto; margin:0; padding:0; }
#weather-mod #flist .day  .bn .mid  .half.dayt{ margin-top:4px; padding-top:2px; }
#weather-mod #flist .day  .bn .mid .half.nightt{ border-top:#CCC 1px solid; background-color:#EFEBF9; 
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px; 
  -khtml-border-radius:0 0 5px 5px; 
}

#weather-mod #flist .day  .bn .mid  .half p.fcttext{ display: block; margin:3px 4px 0 4px; padding:4px; padding-top:1px; }
#weather-mod #flist .day  .bn .mid  .half.dayt p.fcttext{ padding-bottom: 1.1em; }
#weather-mod #flist .day  .bn .bot{  
  width:319px; height:149px; background:transparent url('/ext/img/wx/bn/wx_bn_bot_rtc.png') bottom left no-repeat;
  margin:0; margin-top:-124px;
}
#weather-mod .bd #wx-here{ min-height:400px;}
#weather-mod .bd #wx-here  .mainw.wait{ text-align:center; margin: 100px auto auto auto; }
#weather-mod .bd #wx-here  .mainw.wait .waitmsg{ display: inline-block; }
#weather-mod .bd #wx-here  .mainw.wait .waitimg{ display: inline-block; height:35px; width:35px; margin:40px auto auto auto; 
  background: transparent url('/ext/img/wait_blue.gif') top center no-repeat;} 
#weather-mod .bd #wx-here .wx_error{ padding:10px; text-align:center; }
#weather-mod .bd #wx-here .wx_error p{ display: inline-block; width:auto; text-align:center; margin:60px 20px auto 20px;}
#weather-mod  #wxmod-status{ display:block; width:96%; height: 48px; margin:0; padding:2px; background:#EEE; color:#000; 
  border: green dotted 1px; font-size:10px; font-family:"Courier New", Courier, monotype; height:48px; overflow:scroll;}
#weather-mod .sec.entry{ height:72px; border-bottom:#EEE 1px solid; }
#weather-mod .search_bar{ margin:0; padding:1px; }
#weather-mod .search_bar .inner{ margin:0; margin-right:3px; padding:0; }
#weather-mod #weather-mod-form{ display: inline-block; /* ie */ height:52px; /* ie */ width:270px; } 
#weather-mod #weather-mod-form label{ display:inline-block; font-size:11px; margin-left:8px; }
#weather-mod #weather-mod-form label span{ }
#weather-mod #weather-mod-form label span.hidden{display:none;}
#weather-mod #weather-mod-form input{ vertical-align:top;}
#weather-mod #weather-mod-form input#weather-mod-loc-input{
  max-width:160px;  
  font-family: "Courier New", Courier, monotype;
  /* font-size:82%; */
  color:#333; 
  border:#AAA 2px solid;
  margin: 1px auto auto 8px;
  padding:4px;
  padding-left:24px; 
  background: url('/sites/default/img/search_16.png') 4px 4px #FFF no-repeat;
}

#weather-mod #weather-mod-form  input#weather-input-button{ 
  float:right;
  display:inline-block;
  height:27px; 
  width:32px; 
  cursor:pointer; 
  color:#000; 
  background-color:#9CF; 
  border:#AAA 1px solid;
  margin:1px 25px auto auto; 
  padding-bottom:4px;
}
#weather-mod #weather-mod-form button{ float:right; height:27px; width:24px; cursor:pointer; color:#000; background-color:#9CF; 
  border:#AAA 1px solid; margin:1px 25px auto auto; padding-bottom:4px;}

#weather-mod  .entry .progress{ /* margin-left:8px;*/ margin:4px auto auto 8px; min-height:18px;}
#weather-mod  .entry .progress .pspin, 
#weather-mod  .entry .progress .pstall{ display:inline-block; width:16px; height:16px; margin: 1px 4px auto 4px;}
#weather-mod  .entry .progress .pspin{  background: transparent url('/ext/img/loading-spinner.gif') bottom left no-repeat; }
#weather-mod  .entry .progress .pstall{ background: transparent url('/ext/img/sad_16.gif') bottom left no-repeat; }
#weather-mod  .entry .progress .pmsg,
#weather-mod  .entry .progress .pstallmsg{ display:inline-block; width:200px; color:#666; font-weight:normal; line-height:11px; margin-left:20px; vertical-align:text-top;}
#weather-mod  .entry .progress .pstallmsg{margin-left:24px;}
#weather-mod  .sec.sug_cit{ display:none; }
#weather-mod  .sec.sug_cit a,
#weather-mod  .sec.sug_cit a:hover{ color:#666; }
#weather-mod  .sec.sug_cit ul.grp{ color:#F00; }
#weather-mod  .sec.sug_cit ul.grp.US{  }
#weather-mod  .sec.sug_cit ul.grp._INTL{ margin-top:12px; }
#weather-mod .loclist{ background-color:#FFF; margin:2px; padding:2px; }
#weather-mod .loclist ul{ border: red 1px dashed; /* debug */ list-style-type:none; }  
#weather-mod .ft{ font-size:11px;  text-align:center;}
#weather-mod  .moon.mage_0,
#weather-mod .moon.mage_1{ background-position: 0 0; } 
#weather-mod .moon.mage_10{ background-position: 0 -44px; } 
#weather-mod .moon.mage_11{ background-position: 0 -88px; } 
#weather-mod .moon.mage_12{ background-position: 0 -132px; } 
#weather-mod .moon.mage_13{ background-position: 0 -176px; } 
#weather-mod .moon.mage_14{ background-position: 0 -220px; } 
#weather-mod .moon.mage_15{ background-position: 0 -264px; } 
#weather-mod .moon.mage_16{ background-position: 0 -308px; } 
#weather-mod .moon.mage_17{ background-position: 0 -352px; } 
#weather-mod .moon.mage_18{ background-position: 0 -396px; } 
#weather-mod .moon.mage_19{ background-position: 0 -440px; } 
#weather-mod .moon.mage_2{ background-position: 0 -484px; } 
#weather-mod .moon.mage_20{ background-position: 0 -528px; } 
#weather-mod .moon.mage_21{ background-position: 0 -572px; } 
#weather-mod .moon.mage_22{ background-position: 0 -616px; } 
#weather-mod .moon.mage_23{ background-position: 0 -660px; } 
#weather-mod .moon.mage_24{ background-position: 0 -704px; } 
#weather-mod .moon.mage_25{ background-position: 0 -748px; } 
#weather-mod .moon.mage_26{ background-position: 0 -792px; } 
#weather-mod .moon.mage_27{ background-position: 0 -836px; } 
#weather-mod .moon.mage_28{ background-position: 0 -880px; } 
#weather-mod .moon.mage_29{ background-position: 0 -924px; } 
#weather-mod .moon.mage_3{ background-position: 0 -968px; } 
#weather-mod .moon.mage_30{ background-position: 0 -1012px; } 
#weather-mod .moon.mage_4{ background-position: 0 -1056px; } 
#weather-mod .moon.mage_5{ background-position: 0 -1100px; } 
#weather-mod .moon.mage_6{ background-position: 0 -1144px; } 
#weather-mod .moon.mage_7{ background-position: 0 -1188px; } 
#weather-mod .moon.mage_8{ background-position: 0 -1232px; } 
#weather-mod .moon.mage_9{ background-position: 0 -1276px; }
#weather-mod .pcim{ display:block; background-color:transparent; height:1px; width:1px; text-indent: -9999px; } /* precache images */
 
/* --- Facebook widgets --- */
#fb-likebutton-container{ min-height:64px;  }

/* --- LinkedIn widgets --- */
#lnkd-sharebutton-container{ min-height:32px; }
#lnkd-recmd-container{ min-height:32px; }

/* --- Twitter box --- */
#tweetbox{
  height: auto; /* 320px; */
  max-height:800px;
  background-color:#FFF;
  color:#000;
  background-color: transparent;  
  border:#00E 1px solid;
  margin: 10px 0 auto auto;
}
#tweetbox .hd, 
#tweetbox .ft{
  color:#FFF;
  background-color:#00E;
  text-align:center;
}
#tweetbox .hd a, 
#tweetbox .ft a{ 
  color:#FFF;
  text-decoration:none;
}
#tweetbox .hd{ height:28px; font-size:12px; padding:6px; }
#tweetbox .hd i.fab{ float:left; color:#FFF; font-size:180%; margin:2px auto auto 12px; }
#tweetbox .hd a{ display:block; float:right; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; outline:none; margin:2px 12px auto auto; }
/* #tweetbox .hd h2{ font-size:12px; font-weight:normal; } */
#tweetbox .hd h2 a{  }
#tweetbox .hd:after{ clear:both; }
#tweetbox .bd{
    min-height: 260px; /* 260 */
    max-height: 420px; /* 420 */
    overflow-y:auto; /* scroll */ 
    overflow-x:hidden;
    margin: 0; 
    padding: 0;
    position: relative;
    z-index: 1;
    background-color:transparent;
    font-size:11px;
}
#tweetbox .bd a{ text-decoration:none; }
#tweetbox .bd ul li{ 
  list-style: none outside none;
  border-top: #00E 1px solid;
  margin: 0;
  padding: 5px 15px;  
}
#tweetbox .bd ul li.tweet_first{ border-top:none;}
#tweetbox .bd ul li .tweet_text{ font-weight:bold; }
#tweetbox .bd ul li .tweet_text a{ color:#346199; }
#tweetbox .bd ul li .tweet_time{ display:block; color:#666; font-size:85%; font-weight:bold;}
#tweetbox .bd ul li .tweet_time a{ color:#666;}
#tweetbox .ft{
  color:#FFF;
  height:28px;
  margin:0;
  padding:0; 
}
#tweetbox .ft .follow {
  display: block;
  float:left;    
  width:140px;
  padding-top: 2px;
  text-align: left;
  margin: 0 auto auto 8px;
}
#tweetbox .ft .refresh{
  display:block; 
  float:right;
  width:80px;
padding-top:2px;
 text-align:right;
 margin: 0 8px auto auto; 
}  
#tweetbox .ft .refresh a{ cursor:pointer; outline:none;}
#tweetbox .ft .follow a,
  #tweetbox .ft .refresh a{ font-size:10px;  }


#footer-region{
  width: 960px;
  text-align: left; /* new */
  color:#000;
  border-top:#CCC 1px solid;
  /* background-color:#2D4677; /* new */
  padding-bottom:12px;
  margin:0;
  margin-top:auto;
  margin-bottom:0; /* temp */ 
}

#footer-region a{ color:#333; text-decoration:none;}
#footer-region a:hover{ color:#333; text-decoration:underline; } 
#footer-region ul.menu{ margin-left: 12px;}
#footer-region ul.menu li{ list-style-type:none; list-style-image:none; }

#footer{ 
  padding-left:0;
  padding-right:0;
  background:transparent; /* new */
  text-align:left; /* new */  
}

#footer h2{ display:none; }
#footer h2.sitename{ display:inline-block; font-size:14px; font-weight:bold; margin-bottom:auto; margin:8px auto auto 8px;}
#footer-container{}
/*
#footer ul.menu{ width:120px; }
*/
#footer #block-system-main-menu{ padding:1px;}
#footer #block-system-main-menu ul.menu{ margin: 8px auto auto 4px; }

#subfooter{
  margin:0;
  padding:0;
}
#subfooter-region{  
  width: 960px;
  text-align: left;
  margin:0;
  padding:2px;
}
#subfooter-region div.region-subfooter{ display:none; }
#subfooter{ text-align:left; min-height:18px;}
#subfooter .control{  /* background-color:orange; min-height:20px; min-width:20px; */ }
#subfooter .control a{ display:block; height:16px; width:16px; }
#subfooter .control a.plus{  background: transparent url('/ext/img/toggle_min_plus.png') top left no-repeat;}
#subfooter .control a.minus{ background: transparent url('/ext/img/toggle_min_minus.png') top left no-repeat;}
#subfooter #block-user-login {  width:160px; margin: 1px auto 8px 12px; }
#ft-social { text-align:center;  margin:8px auto 12px auto; }
#ft-social ul{ display:inline; }
#ft-social ul li{  display:inline; list-style:none; margin-right:2em; }
#ft-social ul li a{ color:#000; }
#ft-social ul li i.fab{ color:#00F; font-size:24px; }
/* #ft-social ul li span{ display:inline-block; margin-left:0.5em; margin-bottom:0.5em;} */
#ft-social ul li i span{ font-size:0; color:transparent; }
#ft-notice { text-align:center; }
#ft-notice .ident{ display:block;}
#ft-notice  .copyrt{ display:block; color:#000; font-size:83%; margin:8px auto 12px auto;}  

 
