/* Reset: */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}
.clear{ clear:both; height:0; width:0; }

/* HTTP error */
#doc-hterr{background-color:#FFF; margin:0; padding:4px;}
#doc-hterr #bd{ width: 960px;  min-height:240px; background-color:#FFF; text-align:center; border: #CCC 1px solid; margin: 10px auto; padding: 16px;}
#doc-hterr a{ color: #999; text-decoration:none; }
#doc-hterr a:active{ color: #999; }
#doc-hterr a:hover{ color: #999; text-decoration:underline; }
#doc-hterr a:visited{ color: #999; }
#doc-hterr  h2.home{ margin-top: 12px; }
#doc-hterr  img.D_logo { float:left; }
#doc-hterr strong{ font-weight:bold;}
#doc-hterr strong.errcode{ margin-right:8px;}
#doc-hterr .msg{ text-align:left; margin: 1px auto auto 74px; }
#doc-hterr .msg.warn{}

/* Main: */
h1{ font-size:18px; }
h2{ font-size:14px; }
